span {
	display: block;
}

.input-register {
	margin-left: 35%;
	margin-top: 1%;
	width: 300px;
	height: 40px;
}

.register-user {
	margin-top:10%;
}
.register-h2 {
	margin-left: 44% !important;
}
.register-button {
	margin-left: 39% !important;
	margin-top: 3%;
	width:216px;
	height:40px;
}
.forgot-password {
	margin-right: 45%;
	margin-top: 1%;
}

.forgot-container {
	margin-top:10%;
	text-align: center;
}

.input-forgot {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 300px;
	height: 40px;
}